#!/usr/bin/env bash

PATH_add scripts

export CONFIG_HOME=${PWD}/.config

if false; then
  # shellcheck source=.config/environment
  source "${CONFIG_HOME}/environment"
  watch_file "${CONFIG_HOME}/environment"

  use nix .config/nix/shell.nix
  #watch_file .config/nix/fhs.nix
  watch_dir .config/nix
fi
